body {
    background-color:#ffffff;
    color:#000000;
    font: 16px Arial, Tahoma, Helvetica, sans-serif;
}
div.unimportant {
        color:#808080;
}
h1 {
    text-decoration:underline;
    font: 30px Arial, Tahoma, Helvetica, sans-serif;
    color: #202000;
}
h2 {
    font: 20px Arial, Tahoma, Helvetica, sans-serif;
    color: #202020;
}
table.maintable {
    border: 2px solid black;
    width: 100%;
}
img {
    max-width: 80%;
    height: auto;
    display: block;
}
a.headline {
    text-decoration: none;
}
a.headline:link {
    color: black;
    font-weight: bold;
}
a.headline:visited {
    color: #808080;
    font-weight: normal;
}
a:link {color:#000080; }
a:visited {color:#800080; }
.pagination {
    text-align: center;
}
.actions {
    display: flex;
    justify-content: space-around;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-options {
    display: flex;
    align-items: center;
}
.dropdown {
    position: relative;
    padding: 2px;
    border: 2px solid black;
    direction: rtl;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fefefe;
}
.dropdown-content a {
    display: block;
    padding: 2px;
    border: 2px solid black;
}
