<header>
    <div>
        <h1>
            <a href="{% url 'muffin:index' %}">
            MUFFIN
            </a>
        </h1>
    </div>
    <div class="header-options">
        {% if user.is_authenticated %}
        <a href="{% url 'muffin:manage_feeds' %}">
            Manage Feeds
        </a>
        &nbsp;
        <div class="dropdown">
            {{user.email}}
            <div class="dropdown-content">
                <a href="{% url 'muffin:delete_account' %}">
                    Delete Account
                </a>
                <a href="{% url 'muffin:download_data' %}" download="muffin-userdata.json">
                    Download Data
                </a>
                <a href="{% url 'muffin:logout' %}">
                    Logout
                </a>
            </div>
        </div>
        {% else %}
        <a href="{% url 'muffin:login' %}">
            Login
        </a>
        &nbsp;
        <a href="{% url 'muffin:signup' %}">
            Sign up
        </a>
        {% endif %}
    </div>
</header>
